/* Estilos para el efecto parallax */
.parallax {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transform: translateZ(-1px) scale(2);
  }
  
  .content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: white;
    backdrop-filter: (blur 12px);
  }

  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  

 .hero{
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
    -moz-filter: brightness(60%);
 } 