---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Products from '../components/Products.astro';
import Benefits from '../components/Benefits.astro';
import Storytelling from '../components/Storytelling.astro';
import Contact from '../components/Contact.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
			<main>
  				<Hero />
  				<Products />
  				<Benefits />
  				<Storytelling />
  				<Contact />
			</main>
	</body>
</html>
