---
const backgroundImage = '/contact-img.jpeg';
---

<section class="parallax" style={`background-image: url(${backgroundImage})`}>
  <div class="parallax-bg" style={`background-image: url(${backgroundImage})`}></div>
  <div class="content flex items-center justify-center h-full">
    <h2 class="text-4xl">Contacto</h2>
  </div>
</section>
