---
const backgroundImage = '/hero-img.jpeg';
---

<section class="parallax" style={`background-image: url(${backgroundImage})`}>
  <div class="parallax-bg" style={`background-image: url(${backgroundImage})`}></div>
  <div class="content flex items-center justify-center h-full">
    <h1 class="text-5xl backdrop-blur-2xl py-16 px-6 bg-yellow-800/40 rounded-full">Bienvenidos a Sweet Honey</h1>
  </div>
</section>
