---
const backgroundImage = '/storytelling-img.jpeg';
---

<section class="parallax bg-yellow-800">
  <div class="parallax-bg bg-yellow-900"></div>
  <div class="content flex items-center justify-center h-full">
    <h2 class="text-4xl">Nuestra Historia</h2>
  </div>
</section>
